* {

box-sizing: border-box;

}

.header {

    height: 85px;
    color: aquamarine;
}

.container {

    width: 1200px;
    margin:0 auto

}

.uliki {

    float: right;
}
li {
    list-style-type: none;
}
.header li {
    float: left
}

.image {
    height: 700px;
    background-image: url(../img/nebo.jpg);background-position: center;background-repeat: no-repeat;

}