@media all and (max-width: 600px)
{

    .background-right {

        background: blue; height: 300px; width: 200px; float: right;
    
    }
    
    .background-lorem {
    
        background-color: rgb(75, 231, 14); margin: 0 200px;
    }
    
    .rasporka {
    
        clear: both; height: 10px; background-color: black;
    }
    
    .footer {
    
        background: rgb(10, 221, 236); height: 50px;
    }

}